<a href="https://colab.research.google.com/github/pkor725/MTN-C-te-d-Ivoire-NETwork-upgrade-plan/blob/master/Copy_of_Copy_of_Moringa_Data_Science_Prep_W3_Independent_Project_2019_07_Gideon_Cheruiyot_DataReport_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:

dt = pd.read_csv('cells_geo.csv', delimiter = ';')
dt.head()

   Unnamed: 0   VILLES      STATUS  ... AREA     CELL_ID   SITE_CODE
0           0   ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1   ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2   ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3  ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4  ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 12 columns]

In [0]:
dt = pd.read_csv('cells_geo.csv', delimiter = ';')
dt.head()
#Renaming the sitecode as SITE_ID
dt.rename(columns = {'SITE_CODE':'SITE_ID'}, inplace = True)

#def function_1(val_1, value_11):
  #return val_1
   # before retuning the values, we convert the first values into a string because values in one column are strings
#dt['col_a'] = dt.apply(lambda row: function_1(row['VILLES'], row['SITE_CODE']) axis=1)
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3974 entries, 0 to 3973
Data columns (total 12 columns):
Unnamed: 0      3974 non-null int64
VILLES          3974 non-null object
STATUS          3907 non-null object
LOCALISATION    3974 non-null object
DECOUPZONE      3974 non-null object
ZONENAME        3968 non-null object
LONGITUDE       3974 non-null float64
LATITUDE        3974 non-null float64
REGION          3974 non-null object
AREA            3951 non-null object
CELL_ID         3974 non-null object
SITE_ID         3974 non-null object
dtypes: float64(2), int64(1), object(9)
memory usage: 372.7+ KB

In [0]:
#loading Telecom Dataset

dt1 = pd.read_csv('Telcom_dataset.csv')
dt1 = pd.DataFrame(dt1)

# second data set

dt2 = pd.read_csv('Telcom_dataset2.csv')
dt2 = pd.DataFrame(dt2)

# Third  data set

dt3 = pd.read_csv('Telcom_dataset3.csv')
dt3 = pd.DataFrame(dt3)

# Joining the three datasets into one dataset
 
Frames = (dt1, dt2, dt3)
dt_all = pd.concat(Frames, ignore_index = True)
dt_all.head()
#Removing rows with duplicates.

dt_all = dt_all.drop_duplicates()
dt_all

#joining the Geo dataset with the telecom dataset to obtain cities
dt_all1 = pd.merge(dt_all, dt, on = 'SITE_ID', how = 'inner')
dt_all1.head()

  PRODUCT  VALUE DATE_TIME  ...    REGION        AREA   CELL_ID_y
0   Voice      2   00:21.0  ...  MARAHOUE  NORTH WEST  8cdff2a0a2
1   Voice      2   00:21.0  ...  MARAHOUE  NORTH WEST  a902c9a91a
2   Voice      2   00:21.0  ...  MARAHOUE  NORTH WEST  36cd8d4d2f
3   Voice     40   00:22.0  ...  MARAHOUE  NORTH WEST  8cdff2a0a2
4   Voice     40   00:22.0  ...  MARAHOUE  NORTH WEST  a902c9a91a

[5 rows x 21 columns]

0         2
1         2
2         2
3        40
4        40
         ..
50083    17
50084    17
50085     0
50086     0
50087     0
Name: VALUE, Length: 49147, dtype: int64

In [0]:
# Deleting row with missing values

dt_all2 = dt_all1.dropna()

#Dropping  columns not needed, 'CELL_ON_SITE', 'COUNTRY_A',	'COUNTRY_B'	,

dt_all2.drop (columns = ['CELL_ON_SITE', 'COUNTRY_A','COUNTRY_B', 'Unnamed: 0','STATUS', 'LOCALISATION', 'DECOUPZONE', 'ZONENAME', 'LONGITUDE',	'LATITUDE',	'REGION',	'AREA',	'CELL_ID_y'], inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [0]:
#Finding the most geo site with most active users

dt_all2.groupby(['VILLES'])['SITE_ID'].count().sort_values (ascending = False).head(10)

#Ranking the top 10 cities with most numnber of active users

VILLES
YOPOUGON        8375
ABOBO           5922
COCODY          3716
ADJAME          2537
KOUMASSI        2275
YAMOUSSOUKRO    2076
MARCORY         2065
TREICHVILLE     1922
DALOA           1747
ATTECOUBE       1569
Name: SITE_ID, dtype: int64

In [0]:
# To find out the most valuable Cities to the company and ranking the top 10

dt_all2.groupby(['VILLES'])['VALUE'].sum().sort_values (ascending=False).head(10)

VILLES
YOPOUGON        200456
COCODY          184674
ABOBO           119086
KOUMASSI         71356
TREICHVILLE      62949
ADJAME           60617
MARCORY          59684
YAMOUSSOUKRO     45090
SAN-PEDRO        44137
PORT-BOUET       37368
Name: VALUE, dtype: int64

In [0]:
# To find out the most valuable product for MTN

dt_all2.groupby(['PRODUCT'])['VALUE'].sum().sort_values( ascending=False)

PRODUCT
Voice    1155949
sms       225892
Name: VALUE, dtype: int64

In [0]:
# To find out the most valuable product by geo-location
dt_all2.groupby(['VILLES', 'PRODUCT'])['VALUE'].sum()

VILLES       PRODUCT
ABENGOUROU   Voice       6933
             sms         1650
ABOBO        Voice      92357
             sms        26729
ABOISSO      Voice       1608
                        ...
ZON-HOUNIEN  Voice        363
ZOUKOUGBEU   Voice        564
             sms          150
ZUENOULA     Voice       3546
             sms          300
Name: VALUE, Length: 597, dtype: int64